<h1>Accessible Modal Component</h1>

<p>Welcome to the accessible modal testing page!</p>
<button class="button button-primary" type="button" (click)="show()">
  Show Modal
</button>

<ng-template #modal>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-field">
      <label for="firstName">First Name</label>
      <input
        [attr.aria-invalid]="form.get('firstName').invalid"
        formControlName="firstName"
        id="firstName"
      />
      <span
        class="validation-error"
        *ngIf="form.get('firstName')?.errors?.required"
      >
        First Name is required
      </span>
    </div>

    <div class="form-field">
      <label for="surname">Surname</label>
      <input
        [attr.aria-invalid]="form.get('surname').invalid"
        formControlName="surname"
        id="surname"
      />
      <span
        class="validation-error"
        *ngIf="form.get('surname')?.errors?.required"
      >
        Surname is required
      </span>
    </div>

    <div class="form-field">
      <label for="age">Age</label>
      <input
        [attr.aria-invalid]="form.get('age').invalid"
        formControlName="age"
        id="age"
      />
      <span
        class="validation-error"
        *ngIf="form.get('age')?.errors?.required"
      >
        Age is required
      </span>
    </div>

    <label for="info">Subscribe to news letter</label>
    <input
      formControlName="info"
      id="info"
      type="checkbox"
      (change)="info = !info"
    />
    <p *ngIf="info">This is a placeholder for more information</p>

    <div class="button-group">
      <button
        [attr.aria-disabled]="form.invalid"
        class="button button-primary"
        type="submit"
      >
        Submit
      </button>
      <button
        class="button button-secondary"
        type="button"
        (click)="modalRef.close()"
      >
        Cancel
      </button>
    </div>
  </form>
</ng-template>
